<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/showdeg/"
               aria-expanded="false"
               aria-controls="page-layouts">
                <i class="mdi mdi-school menu-icon"></i>
                <span class="menu-title">Manage Degree</span>
            </a>
            <div class="collapse" id="page-layouts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="addDegree.html">Add
                        Degree</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="viewDegree.html">View
                        Degree</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/show_dep/"
               aria-expanded="false"
               aria-controls="ui-basic">
                <i class="mdi mdi-file-tree menu-icon"></i>
                <span class="menu-title">Manage Department</span>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="addDepartment.html">Add
                        Department</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="viewDepartment.html">View
                        Department</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/show_sem/"
               aria-expanded="false"
               aria-controls="ui-advanced">
                <i class="mdi mdi-calendar-clock menu-icon"></i>
                <span class="menu-title">Manage Semester</span>
            </a>
            <div class="collapse" id="ui-advanced">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="addSemester.html">Add
                        Semester</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="viewSemester.html">View
                        Semester</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/show_sub/"
               aria-expanded="false"
               aria-controls="form-elements">
                <i class="mdi mdi-book-open-page-variant menu-icon"></i>
                <span class="menu-title">Manage Subject</span>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="addSubject.html">Add
                        Subject</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="viewSubject.html">View
                        Subject</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/show_fac/"
               aria-expanded="false"
               aria-controls="editors">
                <i class="mdi mdi-account-check menu-icon"></i>
                <span class="menu-title">Manage Faculty</span>
            </a>
            <div class="collapse" id="editors">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="addFaculty.html">Add
                        Faculty</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="viewFaculty.html">View
                        Faculty</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/show_stu/"
               aria-expanded="false"
               aria-controls="charts">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage Student</span>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/load_student">Add
                        Student</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/view_student">View
                        Student</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logout/">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>
