{% extends 'header1.html' %}
{% block content %}
{% load static %}

        <section class="bg-img-1 bg-overlay-3 p-t-93 p-b-95">
            <div class="container">
                <div class="flex-w flex-sb-m">
                    <div class="p-t-10 p-b-10 p-r-30">
                        <div class="flex-w p-b-9">
                            <span>
                                <a href="index.html" class="s-txt19 hov-color-main trans-02">
                                    <i class="fa fa-home"></i>
                                    Home
                                </a>
                                <span class="s-txt19 p-l-6 p-r-9">/</span>
                            </span>
                            <span>
                                <a href="course-grid.html" class="s-txt19 hov-color-main trans-02">
                                    Our Courses
                                </a>
                                <span class="s-txt19 p-l-6 p-r-9">/</span>
                            </span>
                            <span>
                                <span class="s-txt19">
                                    Department base
                                </span>
                            </span>
                        </div>
                        <h2 class="m-txt6 respon1">
                            Driving basics I
                        </h2>
                    </div>
                    <!-- <div class="p-t-10 p-b-10">
                        <a href="#" class="btn-drive size1 m-txt1 bg-main bo-rad-4 trans-03">
                            Book Lesson
                            <i class="fa fa-chevron-right m-l-9 fs-14" aria-hidden="true"></i>
                        </a>
                    </div> -->
                </div>
            </div>
        </section>

        <section class="bgwhite p-t-80 p-b-75">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-lg-9 m-lr-auto p-b-50">
                        {% for item in s %}
                        <div class="p-r-20 p-r-0-md">
                            <div class="bo2">
                                <div>
                                    <img src="{% static 'adminResources/image/' %}{{item.img}}" alt="IMG-COURSE" height="150px" width="150px"  />
                                </div>
                                <div class="p-l-38 p-r-38 p-t-30 p-b-18 p-lr-15-sm">
                                    <div class="flex-sb-m p-b-12">
                                        <span class="s-txt5">
                                            
                                        </span>
                                        
                                    </div>

                                    <h4 class="m-txt25 p-b-22">
                                       
                                    </h4>

                                    <div class="p-b-5">
                                        <span class="s-txt25">
                                            Subject Code:
                                        </span>
                                        <span class="s-txt2">
                                            {{item.sub_code}}
                                        </span>
                                    </div>
                                    <div class="p-b-28">
                                        <span class="s-txt25">
                                            Subject Name :  
                                        </span>
                                        <span class="s-txt2">
                                            {{item.sub_name}}
                                        </span>
                                    </div>
                                    <div class="p-b-28">
                                        <span class="s-txt25">
                                            Subject Description :  
                                        </span>
                                        <span class="s-txt2">
                                            {{item.sub_textbook}}
                                        </span>
                                    </div>
                                    <!-- <ul class="list-01 p-b-32">
                                        <li class="p-b-6">
                                            <span class="s-txt2">
                                                Pulling out and returning to the side of the road
                                            </span>
                                        </li>
                                        <li class="p-b-6">
                                            <span class="s-txt2">
                                                Driving on the road
                                            </span>
                                        </li>
                                        <li class="p-b-6">
                                            <span class="s-txt2">
                                                Knowing your blind spots
                                            </span>
                                        </li>
                                        <li class="p-b-6">
                                            <span class="s-txt2">
                                                Scanning for hazards
                                            </span>
                                        </li>
                                        <li class="p-b-6">
                                            <span class="s-txt2">
                                                Stalling the car (manual)
                                            </span>
                                        </li>
                                        <li class="p-b-6">
                                            <span class="s-txt2">
                                                Railway crossings
                                            </span>
                                        </li>
                                        <li class="p-b-6">
                                            <span class="s-txt2">
                                                Crossing a level crossing
                                            </span>
                                        </li>
                                    </ul> -->

                                    <!-- <div class="m-txt26 p-b-5">
                                        $100
                                    </div> -->

                                    <!-- <div class="flex-w flex-sb-m">
                                        <div class="flex-w p-t-10 p-b-10 p-r-30">
                                            <div class="m-r-8 m-t-4 m-b-4">
                                                <a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
                                                    Book now
                                                </a>
                                            </div>
                                            <div class="m-t-4 m-b-4">
                                                <a href="#" class="btn-drive m-txt10 size19 bo3 bg1 hov-color-white bo-rad-4">
                                                    Watch Video
                                                </a>
                                            </div>
                                        </div>
                                        <div class="flex-w flex-m p-t-10 p-b-10 rs1-share-item">
                                            <span class="s-txt26 p-r-17 m-t-4 m-b-4">
                                                Share
                                            </span>
                                            <a href="#" class="flex-c-m bg1 size14 bo-rad-3 bo2 color7 hov-bg-main hov-color-white trans-03 m-r-5 m-t-4 m-b-4">
                                                <i class="fa fa-facebook fs-18"></i>
                                            </a>
                                            <a href="#" class="flex-c-m bg1 size14 bo-rad-3 bo2 color7 hov-bg-main hov-color-white trans-03 m-r-5 m-t-4 m-b-4">
                                                <i class="fa fa-twitter fs-18"></i>
                                            </a>
                                            <a href="#" class="flex-c-m bg1 size14 bo-rad-3 bo2 color7 hov-bg-main hov-color-white trans-03 m-r-5 m-t-4 m-b-4">
                                                <i class="fa fa-google-plus fs-18"></i>
                                            </a>
                                            <a href="#" class="flex-c-m bg1 size14 bo-rad-3 bo2 color7 hov-bg-main hov-color-white trans-03 m-r-5 m-t-4 m-b-4">
                                                <i class="fa fa-linkedin fs-18"></i>
                                            </a>
                                            <a href="#" class="flex-c-m bg1 size14 bo-rad-3 bo2 color7 hov-bg-main hov-color-white trans-03 m-t-4 m-b-4">
                                                <i class="fa fa-plus fs-18"></i>
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-10 col-md-4 col-lg-3 m-lr-auto p-b-50">
                        {% for i in f %}
                        <div class="block-5">
                         
                            <div class="wrap-pic-b5 wrap-pic-w hov5 bo2">
                                <a href="#"><img src="{% static 'adminResources/image/' %}{{i.image}}" alt="IMG-INSTRUCTOR" /></a>
                            </div>
                            <div class="wrap-text-b5 p-t-28">
                                <a href="#">
                                    <h4 class="m-txt16 hov-color-main trans-04 p-b-8">
                                        {{i.fn}} {{i.ln}}
                                    </h4>
                                </a>
                                
                                <div class="wrap-btn-b5 p-t-23 flex-w">
                                    <a href="/students/fac/{{i.id}}/" class="btn-drive m-txt10 size11 bo3 bg1 hov-color-white bo-rad-4">
                                        View profile
                                    </a>
                                </div>
                            </div>
                      
                        </div>
                        {% endfor %}

                        <!-- <div class="map p-t-50">
                            <div class="contact-map h-size5" id="google_map" data-map-x="40.707840" data-map-y="-74.011229" data-pin="{% static 'images/icons/marker-01.png' %}" data-scrollwhell="0" data-draggable="1" data-zoom="13"></div>
                            <div>
                                <a href="#" class="btn-drive size18 m-txt23 bg-main trans-03">
                                    <i class="fa fa-map-marker m-r-8 fs-16" aria-hidden="true"></i>
                                    View Map
                                </a>
                            </div>
                        </div> -->

                        <!-- <div class="p-t-45">
                            <h4 class="m-txt24 p-b-13">
                                Contact Us
                            </h4>
                            <ul>
                                <li class="dis-flex p-t-11">
                                    <span class="w-size9">
                                        <i class="fa fa-map-marker fs-14 color6" aria-hidden="true"></i>
                                    </span>
                                    <span class="s-txt2 w-size10">
                                        Address: 8th floor, 379 Hudson St, New York, NY 10018
                                    </span>
                                </li>
                                <li class="dis-flex p-t-11">
                                    <span class="w-size9">
                                        <i class="fa fa-phone fs-14 color6" aria-hidden="true"></i>
                                    </span>
                                    <span class="s-txt2 w-size10">
                                        Phone: (+1) 96 716 6879
                                    </span>
                                </li>
                                <li class="dis-flex p-t-11">
                                    <span class="w-size9">
                                        <i class="fa fa-fax fs-14 color6" aria-hidden="true"></i>
                                    </span>
                                    <span class="s-txt2 w-size10">
                                        Fax: (+1) 96 716 6879
                                    </span>
                                </li>
                                <li class="dis-flex p-t-11">
                                    <span class="w-size9">
                                        <i class="fa fa-envelope fs-14 color6" aria-hidden="true"></i>
                                    </span>
                                    <span class="s-txt2 w-size10"> Email: <a href="https://freebw.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a6c5c9c8d2c7c5d2e6d5cfd2c388c5c9cb">[email&#160;protected]</a> </span>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>

       {% endblock %}
