{% extends 'header1.html' %}
{% load static %}
{% block content %}
<section class="slider">
    <div class="rev_slider_wrapper fullwidthbanner-container rs1-revo">
        <div id="rev_slider_1" class="rev_slider fullwidthabanner" data-version="5.4.5" style="display: none;">
            <ul>
                <li data-transition="fade">
                    <img src="{% static 'images/icons/20200220_InternationalStudentsRecordNumbers.jpg' %}" alt="IMG-SLIDE" class="rev-slidebg" />
                    <h2 style="color: rgb(50, 50, 119); font-size: 35px; font-style: initial;"
                        class="tp-caption tp-resizeme txt1 txt-center p-l-15 p-r-15"
                        data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:left;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="center"
                        data-y="center"
                        data-width="['1200','992','768','480']"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-85','-85','-85','-160']"
                        data-lineheight="['60', '60', '60', '60']"
                        data-height="['auto']"
                    >take the first step to knowledge with us
                    </h2>
                    <p style="color: black;"
                        class="tp-caption tp-resizeme txt2 txt-center p-l-15 p-r-15"
                        data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="center"
                        data-y="center"
                        data-width="['780','780','780','480']"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-10','-10','-10','-50']"
                        data-fontsize="['18', '18', '18', '16']"
                        data-lineheight="['30', '30', '30', '30']"
                        data-height="['auto']"
                    >
                    TARGETcareers can help you decide what degree subject to study. If you already have a career in mind, find out which subjects will get you there. If you don’t, explore different options – we tell you what it’s like to study that subject at university and what types of jobs it could lead to                    </p>
                    <div
                        class="tp-caption tp-resizeme wrap-btn-slide"
                        data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="center"
                        data-y="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['75','75','75','90']"
                        data-height="['auto']"
                    ></div>
                </li>
                <li data-transition="fade">
                    <img src="{% static 'images/icons/iStock-176443118-170908.jpg' %}" alt="IMG-SLIDE" class="rev-slidebg" />
                    <h2 style="color: rgb(50, 50, 119); font-size: 35px; font-style: initial;"
                        class="tp-caption tp-resizeme txt1 txt-center p-l-15 p-r-15"
                        data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="center"
                        data-y="center"
                        data-width="['1200','992','768','480']"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-85','-85','-85','-160']"
                        data-lineheight="['60', '60', '60', '60']"
                        data-height="['auto']"
                    >
                    take the first step to knowledge with us
                    </h2>
                    <p style="color: black;"
                        class="tp-caption tp-resizeme txt2 txt-center p-l-15 p-r-15"
                        data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="center"
                        data-y="center"
                        data-width="['780','780','780','480']"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-10','-10','-10','-50']"
                        data-fontsize="['18', '18', '18', '16']"
                        data-lineheight="['30', '30', '30', '30']"
                        data-height="['auto']"
                    >
                    TARGETcareers can help you decide what degree subject to study. If you already have a career in mind, find out which subjects will get you there. If you don’t, explore different options – we tell you what it’s like to study that subject at university and what types of jobs it could lead to                    </p>
                    <div
                        class="tp-caption tp-resizeme wrap-btn-slide"
                        data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="center"
                        data-y="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['75','75','75','90']"
                        data-height="['auto']"
                    >
                        <div class="p-l-10 p-r-10 p-t-5 p-b-5"></div>
                    </div>
                </li>
                <li data-transition="fade">
                    <img src="{% static 'images/icons/our-students-1750x660-1.jpg' %}" alt="IMG-SLIDE" class="rev-slidebg" />
                    <h2 style="color: rgb(50, 50, 119); font-size: 35px; font-style: initial;"
                        class="tp-caption tp-resizeme txt1 txt-center p-l-15 p-r-15"
                        data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:-500px;skX:85px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="center"
                        data-y="center"
                        data-width="['1200','992','768','480']"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-85','-85','-85','-160']"
                       
                        data-lineheight="['60', '60', '60', '60']"
                        data-height="['auto']"
                    >
                    take the first step to knowledge with us
                    </h2>
                    <p   style="color: black;"
                        class="tp-caption tp-resizeme txt2 txt-center p-l-15 p-r-15"
                        data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:500px;skX:-85px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="center"
                        data-y="center"
                        data-width="['780','780','780','480']"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-10','-10','-10','-50']"
                        data-fontsize="['18', '18', '18', '16']"
                        data-lineheight="['30', '30', '30', '30']"
                        data-height="['auto']"
                    >
                    TARGETcareers can help you decide what degree subject to study. If you already have a career in mind, find out which subjects will get you there. If you don’t, explore different options – we tell you what it’s like to study that subject at university and what types of jobs it could lead to                    </p>
                    <div
                        class="tp-caption tp-resizeme wrap-btn-slide"
                        data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"y:bottom;rZ:90deg;sX:2;sY:2;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="center"
                        data-y="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['75','75','75','90']"
                        data-height="['auto']"
                    ></div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="bgwhite p-t-70 p-b-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-4 p-b-30 m-lr-auto">
                <div class="block-1">
                    <div class="wrap-pic-b1 wrap-pic-w">
                        <img src="{% static 'images/iStock-983321926.jpg' %}" alt="IMG-FEATURE" height="275px" width="500px" />
                    </div>
                    <div class="wrap-text-b1 bg-main op-09 trans-05">
                        <div><a href="#" class="wrap-title-b1">
                            <i class="fa fa-calculator color-white fs-30" aria-hidden="true"></i>
                            <h4 class="m-txt3 color-white tt-up m-l-15">Accountant</h4>
                        </a></div>
                        <div >
                            <p style="color:rgb(247, 247, 240)">
                                <b> 
                                    An Accountant helps businesses make critical financial decisions by collecting, tracking, and correcting the company's finances. They are responsible for financial audits, reconciling bank statements, and ensuring financial records are accurate throughout the year.                            
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-7 col-lg-4 p-b-30 m-lr-auto">
                <div class="block-1">
                    <div class="wrap-pic-b1 wrap-pic-w">
                        <img src="{% static 'images/ite.jpg' %}" alt="IMG-FEATURE" height="275px" width="500px"/>
                    </div>
                    <div class="wrap-text-b1 bg-main op-09 trans-05">
                        <a href="#">
                            <div class="wrap-title-b1">
                                <i class="fa fa-shield color-white fs-30" aria-hidden="true"></i>
                                <h4 class="m-txt3 color-white tt-up m-l-15">Become a IT Engineer</h4>
                            </div>
                        </a>
                        <div>
                            <p style="color:rgb(250, 250, 244)"><b>
                                An IT Technician is a professional who is responsible for installing, maintaining and repairing hardware & software components of the organization's computers. They also support these systems through remote access or site visits as needed by management teams within their company.                            
                            </b></p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-7 col-lg-4 p-b-30 m-lr-auto">
                <div class="block-1">
                    <div class="wrap-pic-b1 wrap-pic-w">
                        <img src="{% static 'images/bi.jpg' %}" alt="IMG-FEATURE" height="275px" width="500px"/>
                    </div>
                    <div class="wrap-text-b1 bg-main op-09 trans-05">
                        <a href="#">
                            <div class="wrap-title-b1">
                                <i class="fa fa-id-card color-white fs-30" aria-hidden="true"></i>
                                <h4 class="m-txt3 color-white tt-up m-l-15">Bussiness Achivement</h4>
                            </div>
                        </a>
                        <div>
                            <p style="color:rgb(250, 250, 244)"><b>
                                What is a business description? Also called a company description, your business description summarizes what your company does, its purpose, and what makes it unique. It's a critical component of your business plan and immediately follows your executive summary.                            
                            </b></p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonial">
    <div class="wrap-testimonial parallax100 bg-overlay-3 p-t-75 p-b-80" style="background-image: url({% static 'images/testimonial-bg-01.jpg' %});">
        <div class="wrap-slide-slick-1">
            <div class="p-b-40">
                <h3 class="m-txt6 txt-center p-b-8 respon1">
                    Testimonials
                </h3>
                <div class="bg-main size2 bo-rad-3 m-lr-auto"></div>
            </div>
            <div class="slide-slick-1 js-slick-1">
                <div class="item-slick-1">
                    <p class="para-slide-slick-1 m-lr-auto w-size1 s-txt1 txt-center p-l-40 p-r-40 p-b-25 animated">
                        I lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien augue, dictum et gravida et, viverra et est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue ut nulla vitae rutrum. Ut
                        molestie cursus placerat. Aenean posuere consequat arcu. Morbi scelerisque placerat porta. Vivamus commodo consectetur commodo.
                    </p>
                    <div class="wrap-person m-lr-auto flex-c-m animated">
                        <div class="wrap-pic-person">
                            <img src="{% static 'images/testimonial-img-01.jpg' %}" alt="IMG-PERSON" />
                        </div>
                        <div class="wrap-info-person p-l-20">
                            <span class="dis-block s-txt3">Mary Bailey</span>
                            <span class="dis-block s-txt4">Chief Executive Officer, Envato</span>
                        </div>
                    </div>
                </div>
                <div class="item-slick-1">
                    <p class="para-slide-slick-1 m-lr-auto w-size1 s-txt1 txt-center p-l-40 p-r-40 p-b-25 animated">
                        I lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien augue, dictum et gravida et, viverra et est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue ut nulla vitae rutrum. Ut
                        molestie cursus placerat. Aenean posuere consequat arcu. Morbi scelerisque placerat porta. Vivamus commodo consectetur commodo.
                    </p>
                    <div class="wrap-person m-lr-auto flex-c-m animated">
                        <div class="wrap-pic-person">
                            <img src="{% static 'images/testimonial-img-02.jpg' %}" alt="IMG-PERSON" />
                        </div>
                        <div class="wrap-info-person p-l-20">
                            <span class="dis-block s-txt3">Mary Bailey</span>
                            <span class="dis-block s-txt4">Chief Executive Officer, Envato</span>
                        </div>
                    </div>
                </div>
                <div class="item-slick-1">
                    <p class="para-slide-slick-1 m-lr-auto w-size1 s-txt1 txt-center p-l-40 p-r-40 p-b-25 animated">
                        I lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien augue, dictum et gravida et, viverra et est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue ut nulla vitae rutrum. Ut
                        molestie cursus placerat. Aenean posuere consequat arcu. Morbi scelerisque placerat porta. Vivamus commodo consectetur commodo.
                    </p>
                    <div class="wrap-person m-lr-auto flex-c-m animated">
                        <div class="wrap-pic-person">
                            <img src="{% static 'images/testimonial-img-03.jpg' %}" alt="IMG-PERSON" />
                        </div>
                        <div class="wrap-info-person p-l-20">
                            <span class="dis-block s-txt3">Mary Bailey</span>
                            <span class="dis-block s-txt4">Chief Executive Officer, Envato</span>
                        </div>
                    </div>
                </div>
                <div class="item-slick-1">
                    <p class="para-slide-slick-1 m-lr-auto w-size1 s-txt1 txt-center p-l-40 p-r-40 p-b-25 animated">
                        I lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien augue, dictum et gravida et, viverra et est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue ut nulla vitae rutrum. Ut
                        molestie cursus placerat. Aenean posuere consequat arcu. Morbi scelerisque placerat porta. Vivamus commodo consectetur commodo.
                    </p>
                    <div class="wrap-person m-lr-auto flex-c-m animated">
                        <div class="wrap-pic-person">
                            <img src="{% static 'images/testimonial-img-04.jpg' %}" alt="IMG-PERSON" />
                        </div>
                        <div class="wrap-info-person p-l-20">
                            <span class="dis-block s-txt3">Mary Bailey</span>
                            <span class="dis-block s-txt4">Chief Executive Officer, Envato</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bgwhite p-t-75 p-b-90">
    <div class="container">
        <div class="p-b-10">
            <div class="p-b-24">
                <h3 class="m-txt4 txt-center p-b-8 respon1">
                    Our Courses
                </h3>
                <div class="bg-main size2 bo-rad-3 m-lr-auto"></div>
            </div>
            <p class="w-size2 txt-center m-txt7 m-lr-auto p-l-15 p-r-15">
                The course description orients students by outlining the rationale for the course subject or theme, framing a brief overview of the key content, knowledge and skills to be learned and stating the major learning strategies and activities that students will experience            </p>
        </div>
        <div class="row">
            {% for val in s %}
            <div class="col-sm-6 col-lg-3 p-t-30">
                <div class="block-3 bo2">
                    <div class="wrap-pic-b3 wrap-pic-w hov5 bo2-b">
                        <a href="#"><img src="{% static 'adminResources/image/' %}{{val.img}}" alt="IMG-COURSE" height="200px" width="100px" /></a>
                    </div>
                    <div class="wrap-text-b3 p-l-20 p-r-20 p-t-16 p-b-26">
                        
                        <a href="#">
                            <h4 class="m-txt8 hov-color-main trans-04 p-b-12">
                                {{val.sub_name}}
                            </h4>
                        </a>
                      
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- 
<section class="bgwhite p-t-75 p-b-90">
    <div class="p-b-10">
        <div class="p-b-24">
            <h3 class="m-txt4 txt-center p-b-8 respon1">
                Latest News
            </h3>
            <div class="bg-main size2 bo-rad-3 m-lr-auto"></div>
        </div>
    </div>
    <div class="container-slick-2">
        <div class="wrap-slick-2">
            <div class="slick-2 js-slick-2">
                <div class="item-slick-2 m-l-15 m-r-15">
                    <div class="block-4">
                        <div class="wrap-pic-b4 wrap-pic-w hov5">
                            <a href="blog-single.html"><img src="{% static 'images/news-01.jpg' %}" alt="IMG-NEWS" /></a>
                        </div>
                        <div class="wrap-text-b4 p-t-23">
                            <a href="blog-single.html">
                                <h4 class="m-txt8 hov-color-main trans-04 m-b-10">
                                    Trainee licence option with 20 hours training
                                </h4>
                            </a>
                            <span class="s-txt7">July 18, 2017 | </span>
                            <a href="#" class="dis-inline s-txt8 hov-color-main">Pro Tips</a>
                            <p class="s-txt2 p-t-11 p-b-22">
                                Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
                            </p>
                            <div class="wrap-btn-b4 flex-w">
                                <a href="blog-single.html" class="btn-drive m-txt10 size8 bo3 bg1 hov-color-white bo-rad-4">
                                    Continue reading
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slick-2 m-l-15 m-r-15">
                    <div class="block-4">
                        <div class="wrap-pic-b4 wrap-pic-w hov5">
                            <a href="blog-single.html"><img src="{% static 'images/news-02.jpg' %}" alt="IMG-NEWS" /></a>
                        </div>
                        <div class="wrap-text-b4 p-t-23">
                            <a href="blog-single.html">
                                <h4 class="m-txt8 hov-color-main trans-04 m-b-10">
                                    Dedicated support team, local trainer
                                </h4>
                            </a>
                            <span class="s-txt7">July 18, 2017 | </span>
                            <a href="#" class="dis-inline s-txt8 hov-color-main">Pro Tips</a>
                            <p class="s-txt2 p-t-11 p-b-22">
                                Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
                            </p>
                            <div class="wrap-btn-b4 flex-w">
                                <a href="blog-single.html" class="btn-drive m-txt10 size8 bo3 bg1 hov-color-white bo-rad-4">
                                    Continue reading
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slick-2 m-l-15 m-r-15">
                    <div class="block-4">
                        <div class="wrap-pic-b4 wrap-pic-w hov5">
                            <a href="blog-single.html"><img src="{% static 'images/news-03.jpg' %}" alt="IMG-NEWS" /></a>
                        </div>
                        <div class="wrap-text-b4 p-t-23">
                            <a href="blog-single.html">
                                <h4 class="m-txt8 hov-color-main trans-04 m-b-10">
                                    Training Fee's invested back
                                </h4>
                            </a>
                            <span class="s-txt7">July 18, 2017 | </span>
                            <a href="#" class="dis-inline s-txt8 hov-color-main">Pro Tips</a>
                            <p class="s-txt2 p-t-11 p-b-22">
                                Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
                            </p>
                            <div class="wrap-btn-b4 flex-w">
                                <a href="blog-single.html" class="btn-drive m-txt10 size8 bo3 bg1 hov-color-white bo-rad-4">
                                    Continue reading
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slick-2 m-l-15 m-r-15">
                    <div class="block-4">
                        <div class="wrap-pic-b4 wrap-pic-w hov5">
                            <a href="blog-single.html"><img src="{% static 'images/news-04.jpg' %}" alt="IMG-NEWS" /></a>
                        </div>
                        <div class="wrap-text-b4 p-t-23">
                            <a href="blog-single.html">
                                <h4 class="m-txt8 hov-color-main trans-04 m-b-10">
                                    Trainee licence option with 20 hours training
                                </h4>
                            </a>
                            <span class="s-txt7">July 18, 2017 | </span>
                            <a href="#" class="dis-inline s-txt8 hov-color-main">Pro Tips</a>
                            <p class="s-txt2 p-t-11 p-b-22">
                                Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
                            </p>
                            <div class="wrap-btn-b4 flex-w">
                                <a href="blog-single.html" class="btn-drive m-txt10 size8 bo3 bg1 hov-color-white bo-rad-4">
                                    Continue reading
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slick-2 m-l-15 m-r-15">
                    <div class="block-4">
                        <div class="wrap-pic-b4 wrap-pic-w hov5">
                            <a href="blog-single.html"><img src="{% static 'images/news-05.jpg' %}" alt="IMG-NEWS" /></a>
                        </div>
                        <div class="wrap-text-b4 p-t-23">
                            <a href="blog-single.html">
                                <h4 class="m-txt8 hov-color-main trans-04 m-b-10">
                                    Dedicated support team, local trainer
                                </h4>
                            </a>
                            <span class="s-txt7">July 18, 2017 | </span>
                            <a href="#" class="dis-inline s-txt8 hov-color-main">Pro Tips</a>
                            <p class="s-txt2 p-t-11 p-b-22">
                                Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
                            </p>
                            <div class="wrap-btn-b4 flex-w">
                                <a href="blog-single.html" class="btn-drive m-txt10 size8 bo3 bg1 hov-color-white bo-rad-4">
                                    Continue reading
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slick-2 m-l-15 m-r-15">
                    <div class="block-4">
                        <div class="wrap-pic-b4 wrap-pic-w hov5">
                            <a href="blog-single.html"><img src="{% static 'images/news-06.jpg' %}" alt="IMG-NEWS" /></a>
                        </div>
                        <div class="wrap-text-b4 p-t-23">
                            <a href="blog-single.html">
                                <h4 class="m-txt8 hov-color-main trans-04 m-b-10">
                                    Training Fee's invested back
                                </h4>
                            </a>
                            <span class="s-txt7">July 18, 2017 | </span>
                            <a href="#" class="dis-inline s-txt8 hov-color-main">Pro Tips</a>
                            <p class="s-txt2 p-t-11 p-b-22">
                                Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
                            </p>
                            <div class="wrap-btn-b4 flex-w">
                                <a href="blog-single.html" class="btn-drive m-txt10 size8 bo3 bg1 hov-color-white bo-rad-4">
                                    Continue reading
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slick-2 m-l-15 m-r-15">
                    <div class="block-4">
                        <div class="wrap-pic-b4 wrap-pic-w hov5">
                            <a href="blog-single.html"><img src="{% static 'images/news-07.jpg' %}" alt="IMG-NEWS" /></a>
                        </div>
                        <div class="wrap-text-b4 p-t-23">
                            <a href="blog-single.html">
                                <h4 class="m-txt8 hov-color-main trans-04 m-b-10">
                                    Fast track route available
                                </h4>
                            </a>
                            <span class="s-txt7">July 18, 2017 | </span>
                            <a href="#" class="dis-inline s-txt8 hov-color-main">Pro Tips</a>
                            <p class="s-txt2 p-t-11 p-b-22">
                                Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
                            </p>
                            <div class="wrap-btn-b4 flex-w">
                                <a href="blog-single.html" class="btn-drive m-txt10 size8 bo3 bg1 hov-color-white bo-rad-4">
                                    Continue reading
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slick-2 m-l-15 m-r-15">
                    <div class="block-4">
                        <div class="wrap-pic-b4 wrap-pic-w hov5">
                            <a href="blog-single.html"><img src="{% static 'images/news-08.jpg' %}" alt="IMG-NEWS" /></a>
                        </div>
                        <div class="wrap-text-b4 p-t-23">
                            <a href="blog-single.html">
                                <h4 class="m-txt8 hov-color-main trans-04 m-b-10">
                                    Established online e-learning hub
                                </h4>
                            </a>
                            <span class="s-txt7">July 18, 2017 | </span>
                            <a href="#" class="dis-inline s-txt8 hov-color-main">Pro Tips</a>
                            <p class="s-txt2 p-t-11 p-b-22">
                                Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
                            </p>
                            <div class="wrap-btn-b4 flex-w">
                                <a href="blog-single.html" class="btn-drive m-txt10 size8 bo3 bg1 hov-color-white bo-rad-4">
                                    Continue reading
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slick-2 m-l-15 m-r-15">
                    <div class="block-4">
                        <div class="wrap-pic-b4 wrap-pic-w hov5">
                            <a href="blog-single.html"><img src="{% static 'images/news-09.jpg' %}" alt="IMG-NEWS" /></a>
                        </div>
                        <div class="wrap-text-b4 p-t-23">
                            <a href="blog-single.html">
                                <h4 class="m-txt8 hov-color-main trans-04 m-b-10">
                                    Dedicated support team, local trainer
                                </h4>
                            </a>
                            <span class="s-txt7">July 18, 2017 | </span>
                            <a href="#" class="dis-inline s-txt8 hov-color-main">Pro Tips</a>
                            <p class="s-txt2 p-t-11 p-b-22">
                                Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
                            </p>
                            <div class="wrap-btn-b4 flex-w">
                                <a href="blog-single.html" class="btn-drive m-txt10 size8 bo3 bg1 hov-color-white bo-rad-4">
                                    Continue reading
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 -->



{% endblock %}
